body {
    color: white;
    background-color: rgb(31, 31, 31);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    color: lightgray;
    text-decoration: none;
}
a:hover {
    color:rgb(231, 152, 152)
}
hr {
    width: 50%;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    border-color: rgba(255, 255, 255, 0.301)
}

h1 {
    color:rgb(255, 103, 103)
}

h3 {
    color:rgb(255, 183, 183)
}