body {
    background-color: rgb(32, 32, 32);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: rgb(255, 98, 98);
}

h3 {
    color: rgb(255, 150, 150);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 200, 200);
}

hr {
    border-color: rgba(255, 255, 255, .2);
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 50%;
}